@import "./variables.scss";
.app {
  background-color: black;
  min-height: 100vh;
  .btn {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding: 12px 16px !important;
    color: #fff;
    border: 1px solid $purp;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 24px 45px -23px rgba(255, 210, 50, 0.4);
    min-width: max-content;
  }
  .btn:hover {
    background: $purp;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 24px 55px -13px rgba(255, 210, 50, 0.4);
  }
  .btn-mint {
    background: rgb(255, 206, 46);
  }
  .btn-mint:hover {
    background: $purp;
  }
  .outlined {
    border: 1px solid white;
    background: transparent;
  }
  .ghost {
    position: absolute;
    right: 10%;
    top: 700px;
    width: 20%;
    z-index: 10;
  }
  .web {
    z-index: 0 !important;
    position: absolute;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
    top: 30%;
    width: 30%;
    z-index: 10;
  }
  .web-r {
    z-index: 0 t;
    position: absolute;
    right: 0;
    transform: translateX(50%) translateY(50%);
    bottom: 20%;
    width: 40%;
    z-index: 10;
  }

  .anchor {
    font-size: 14px;
    min-width: max-content;
    @apply cursor-pointer  font-bold  transform transition-all;
  }
  .anchor:hover {
    color: $purp;
    transform: scale(1.1);
  }
  .socials-icon {
    display: block;
    color: $purp;
    transition: all 0.5s ease-in-out;
  }
  .socials-icon:hover {
    color: white;
  }

  @media (min-width: 1024px) {
  }

  @media (min-width: 1280px) {
  }
}
