@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500;700;800&display=swap");

@font-face {
  font-family: "paladins-condensed-condensed";
  src: local("paladins-condensed-condensed"),
    url(./font/paladinscond.ttf) format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif !important;
  background: black;
}
.font-exo {
  font-family: "Exo", sans-serif;
}
.font-paladins {
  font-family: "paladins-condensed-condensed", sans-serif;
}

.my-container {
  width: 100%;
  padding: 0 40px;
  max-width: 864px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .my-container {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .my-container {
    max-width: 1080px;
  }
}

/*Connect Wallet Section */
